* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
    scroll-behavior: smooth;
}
#tb{
    width: 100%;
    border: 2px solid black;
    text-align: center;
}
.offset::before {
    display: block;
    content: "";
    height: 10rem;
    margin-top: -2rem;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h3 {
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}
h6 {
    font-size: 20px;
    line-height: 32px;
    color: #6c6c6c;
    margin-top: 16px;
    font-weight: normal;
}
.main-btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: center;
    border: 2px solid transparent;
    padding: 0 32px;
    font-size: 16px;
    line-height: 48px;
    color: #0067f4;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
}
.hero-shape {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.back {
    background-image: url("./images/heroback.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.overlay {
    /*    background-color: #6c6c6c; */
    background-image: linear-gradient(
        rgba(195, 215, 216, 0.9) 40%,
        rgba(254, 255, 244, 0.3) 70%,
        rgba(255, 255, 255, 0.12)
    );
    width: 100%;
    height: 100%;
}

/* Nav */

.logo img {
    margin: 0;
    padding: 0;
    height: 70px;
    width: 230px;
}
#lrbtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: inline-block;
    margin: 10px 10px 0 0;
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    color: #fff;
    border: 0;
    line-height: 50px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to right, #535cf1, #a147e4);
    transition: all 0.3 ease;
}

#lrbtn:hover {
    background-image: linear-gradient(to left, #535cf1, #a147e4);
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 1000000;
}
.nav.scrolled {
    background-color: #fff !important;
    transition: 200ms linear;
    box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.3);
}
.navbar-toggler {
    display: none;
    border: none;
    outline: none;
}
.toggler-icon {
    width: 27px;
    height: 3px;
    background-color: #121212;
    margin: 5px 0px;
    position: relative;
    display: block;
    transition: all 0.3s ease-out 0s;
}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu-items li {
    margin: 0px 15px;
}
.menu-items li a {
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.menu-items li a:hover {
    color: #4f47e4;
    /* transition: all 0.2s ease-in-out; */
}
.navbar-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-social span {
    font-size: 18px;
    font-weight: 600;
    padding-right: 10px;
    color: #6c6c6c;
}
.navbar-social ul li {
    margin: 0 7px;
}
.navbar-social ul li a {
    font-size: 22px;

    color: #6c6c6c;
}

footer {
    background-color: #f4f6f7;
    padding: 7rem;
}
footer .row-one {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
footer .row-one ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
footer .row-one a {
    padding-right: 20px;
    font-size: 26px;
    color: #6c6c6c;
}

footer .second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer .second-row h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #6c6c6c;
    padding-bottom: 20px;
}
footer .second-row li {
    padding-bottom: 12px;
}
footer .second-row li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #121212;
}
footer .second-row .first-column:nth-child(4) {
    max-width: 300px;
}
footer .second-row .newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5px;
}
footer .second-row .newsletter input {
    width: 100%;
    height: 44px;
    border-radius: 50px;
    padding: 0 24px;
    border: 0;
    background-color: rgba(33, 33, 33, 0.12);
    font-weight: 500;
    outline: none;
}

footer .second-row .newsletter button {
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: none;
    color: #121212;
    cursor: pointer;
    border: none;
}
footer .second-row .text {
    margin-top: 16px;
}
.copyright {
    background-color: #2b354f;
    padding: 23px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.copyright p {
    text-align: center;
    color: white;
    word-spacing: normal;
}
.copyright p a {
    color: #1abc9c;
    word-spacing: normal;
}

.btn {
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    background-color: #e9cdff;
    cursor: pointer;
    font-size: 20px;
}

#mainSection {
    width: 100%;
}

.mainbox {
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0);
}

.mainbox h4 {
    display: inline-block;
}

.mainbox p {
    display: inline-block;
}

#deleteIssue {
    color: white;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #a147e4;
}
